@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--georgia-font);
}

p {
  font-family: var(--georgia-font);
}

h1 {
  font-family: var(--oranienbaum-font);
}

.wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.sec {
  height: 100vh;
  scroll-snap-align: start;
}

/* animation in teaser page */
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  transition: transform 1.1s ease;
  transform-origin: 50% 100%;
}

.box-1::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 5;
  opacity: 0;
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
}

.box-1:hover::before {
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
}

.box-2::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 5;
  opacity: 0;
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
}

.box-2:hover::before {
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
}

.box-3::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 5;
  opacity: 0;
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
}

.box-3:hover::before {
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
}

.image-container:hover img:first-child {
  transform: scale(1.2);
}

.image-container:hover img:last-child {
  transform: scale(0.9);
}

/* animation in teaser ends  */
